

    <script src="https://threejs.org/build/three.min.js"></script>
    <script src="https://threejs.org/examples/js/libs/tween.min.js"></script>
    <script src="https://threejs.org/examples/js/controls/TrackballControls.js"></script>
    <script src="https://threejs.org/examples/js/renderers/CSS3DRenderer.js"></script>

<script src = "https://cdnjs.cloudflare.com/ajax/libs/three.js/88/three.js"></script>


<script src="https://threejs.org/examples/js/AsciiEffect.js"></script>
    
<script src="https://threejs.org/examples/js/renderers/Projector.js"></script>

<script src="https://threejs.org/examples/js/renderers/Projector.js"></script>

<script src="https://threejs.org/examples/js/renderers/CanvasRenderer.js"></script>
<script src="https://threejs.org/examples/js/libs/stats.min.js"></script>




<!-- js -->


<!-- css -->







<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @link.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @link.url %>
</p>
<div id="menu">
<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>


